@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>

@inject SignInManager<IdentityUser> SignInManager

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title"</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>

       @if (SignInManager.IsSignedIn(User))
        {
        <form asp-controller="Accoutn" asp-action="Logout" method="post" id="logoutForm">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="javascript:document.getElementById">登出</a>
                </li>
            </ul>
        </form>
        }
        else
        {
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Register">注册</a>
                </li>

                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Login">登录</a>
                </li>
            </ul>
        }
    </nav>
    <div>
        @RenderBody()
    </div>


    <div>
        @RenderSection("bottom", required: false)
    </div>

    <vc:welcome></vc:welcome>
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>

</body>
</html>
