@model WebApplication1.Model.StudentCreateViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <div>
        <h1>学生信息</h1>
        <h2>ID:@Model.Id</h2>
        <div>
            姓名:@Model.FirstName @Model.LastName
        </div>
        <div>
            性别:@Model.Gender
        </div>
        <div>
            出生日期:@Model.BirthDate.ToString("yyyy-MM-dd")
        </div>
        <a asp-action="Index">回到主页</a>
    </div>
</body>
</html>
